* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 2850px) {
  html {
    font-size: 150%;
  }
}

@media only screen and (max-width: 2450px) {
  html {
    font-size: 82.5%;
  }
}

@media only screen and (max-width: 2050px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1550px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Karla", sans-serif;
  background-color: rgba(42, 178, 175, 0.2);
  vertical-align: super;
}

.header-top-primary {
  font-size: 3rem;
  font-weight: 700;
  color: #2ab2af;
  padding-bottom: 2rem;
}

.header-top-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: #c0df34;
  padding-bottom: 1rem;
}

.header-bottom-primary {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  padding-bottom: 2rem;
}

.price {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  padding-bottom: 1rem;
}

.price-type {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(229, 239, 245, 0.7);
  padding-bottom: 1rem;
  display: inline-block;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.paragraph-top {
  font-size: 1.5rem;
  font-weight: 400;
  color: #98a6bd;
  line-height: 2.5rem;
}

.paragraph-bottom {
  font-size: 1.7rem;
  color: #e5eff5;
  font-weight: 700;
  padding-bottom: 2rem;
}

.signup {
  width: 90%;
  padding: 2rem 3rem;
  color: #e5eff5;
  background-color: #c0df34;
  border: 0;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.signup:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
}

.list {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #e5eff5;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.container__top {
  background-color: white;
  padding: 5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container__bottom-left {
  background-color: rgba(42, 178, 175, 0.9);
  padding: 5rem;
  border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .container__bottom-left {
    border-bottom-left-radius: 0;
  }
}

.container__bottom-right {
  background-color: rgba(42, 178, 175, 0.5);
  padding: 5rem;
  border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .container__bottom-right {
    border-bottom-left-radius: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .container__bottom {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: auto;
    width: 90%;
    padding: 10rem 0;
  }
}
/*# sourceMappingURL=main.css.map */